.container
  .row
    .col-md-8
      = semantic_form_for(@booth,  url: @url, html: { multipart: true }) do |f|
        = f.input :title, as: :string, input_html: { autofocus: true }, required: true,
          hint: 'The name of the association requesting the booth'
        = image_tag f.object.picture.thumb.url if f.object.picture?
        = f.input :picture, hint: 'The association\'s logo'
        = f.input :description, input_html: { rows: 5, data: { provide: 'markdown-editable' } }, required: true,
          hint: 'This field becomes public upon request acceptance'
        = f.input :website_url
        %div.form-group
          %label.control-label Presence:
          = f.input :during_the_general_audience_weekend
          = f.input :during_the_rest_of_the_week
        = f.input :peoples_on_booth, required: true
        = responsibles_selector_input f
        %hr
        = f.input :assurance, hint: 'Do you have a valid assurance?'
        = f.input :comment, input_html: { rows: 5, data: { provide: 'markdown-editable' } }, required: true,
          hint: 'Anything you would like to say to the organizers'
        = f.input :hardware_needs, input_html: { rows: 2, data: { provide: 'markdown-editable' } },
          hint: 'Tables, chairs, electricity, an internet connection… you tell us!'

        %p.text-right
          - if @booth.new_record?
            = f.submit 'Create Booth Request', class: 'btn btn-success'
          - else
            = f.submit 'Update Booth Request', class: 'btn btn-success'

  :javascript
    $(document).ready(function() {
      $('#booth_responsible_ids').selectize({
        plugins: ['remove_button'],
        minItems: 2
      } )
    });
