= render partial: "rmll/background"

%main.half
  %section.window
    - add_bar("Text", "access-strasbourg.txt")
    .container.overflow.text
      %h2= t(".title")
      %h3= t(".places.title")
      %ul
        - t(".places.list").each do |place|
          %li
            %p.bold= place[:name]
            %ul
              - place[:buildings].each do |building|
                %li
                  %a{ href:building[:url] }= building[:name]
                  %p.adress= building[:adress]

      %h3= t(".cts.title")
      %ul
        - t(".cts.list").each do |place|
          %li
            %p.bold= place[:name]
            %ul
              - place[:stops].each do |stop|
                %li= stop
      %p
        = link_to t(".cts.site.text"), t(".cts.site.url")

      %h3= t(".parkings.title")
      %p= t(".parkings.text")
      %ul
        - t(".parkings.list").each do |parking|
          %li
            %p= link_to parking[:name], parking[:url]
            %p= parking[:adress]
            %p= parking[:distance] + "km"
            %p= parking[:price] + "€/h"

      %h3= t(".accessibility.title")
      - add_text(t(".accessibility.text"))
