= render partial: "rmll/background"

%main.half
  %section.window
    - add_bar("Text", "food.txt")
    .container.overflow.text
      %h2= t(".title")
      %p= t(".daily")
      %p= t(".alsatian")
      %p= t(".libre_meal")
