%section.fullscreen.map
  - add_bar("ImgViewer", "lodging.png")
  .split
    .container
      = image_tag "map.png"

    .txt
      %h2= t(".title")

      %h4= t(".lodge.name")
      %p= t(".lodge.text_html", href: link_to(t(".lodge.link"), t(".lodge.url")))

      %h4= t(".room.name")
      %p= t(".room.text_html", href: link_to(t(".room.link"), t(".room.url")))
