= render partial: "rmll/background"

%main.half
  %section.window
    - add_bar("Text", "access-strasbourg.txt")
    .container.overflow.text
      %h2= t(".title")

      %h3= t(".room.name")
      %p= t(".room.text_html", href: link_to(t(".room.link"), conference_tickets_url(@conference.short_title, :locale => nil)))

      %h3= t(".lodge.name")
      %p= t(".lodge.text_html", href: link_to(t(".lodge.link"), t(".lodge.url")))
      %ul
        - t(".lodge.list").each do |lodge|
          %li
            %p= link_to lodge[:name], lodge[:url]
            %p= lodge[:desc]
