= render partial: "rmll/background"

%main.half
  %section.window
    - add_bar("Text", "access-strasbourg.txt")
    .container.overflow.text
      %h2= t(".title")
      - add_text(t(".intro"))

      %h3= t(".museum.desc")
      %ul
        - t(".museum.desc_items").each do |museum|
          %li
            = link_to museum[:name], museum[:url]
            %p.desc= museum[:desc]

      %h3= t(".places.desc")
      %ul
        - t(".places.desc_items").each do |place|
          %li
            %p.place= place[:name]
            %p.desc= place[:desc]
