%nav.noselect{ role:"navigation", "aria-label":"Menu bar", "aria-hidden":"false" }
  %ul#left-menu{ role:"menubar" }
    %li{ role:"menuitem", "aria-label":"Home" }
      = link_to "↗", root_path
    %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
      %a#menu-button{ tabindex:0 } Menu
      %ul#main-menu.dropdown{ role:"menu", "aria-hidden":"true" }
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false"}
          %a{ tabindex:0 }= t("menu.program")
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            %li{ role:"menuitem" }
              = link_to t("menu.presentation"), "/program/presentation"
            %li{ role:"menuitem" }
              = link_to t("menu.calendar"), "/program/calendar"
            -# %li{ role:"menuitem" }
            -#   = link_to t("menu.night"), "/program/night"
            -# %li{ role:"menuitem" }
            -#   = link_to t("menu.meal"), "/program/meal"
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
          %a{ tabindex:0 }= t("menu.village")
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            %li{ role:"menuitem" }
              = link_to t("menu.cfb"), "/village/cfb"
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
          %a{ tabindex:0 }= t("menu.info")
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            %li{ role:"menuitem" }
              = link_to t("menu.map"), "/info/map"
            %li{ role:"menuitem" }
              = link_to t("menu.access"), "/info/access"
            %li{ role:"menuitem" }
              = link_to t("menu.lodging"), "/info/lodging"
            %li{ role:"menuitem" }
              = link_to t("menu.food"), "/info/food"
            -# %li{ role:"menuitem" }
            -#   = link_to "Réservation Repas du Libre", "#"
            %li{ role:"menuitem" }
              = link_to t("menu.tourism"), "/info/tourism"
            -# %li{ role:"menuitem" }
            -#   = link_to "Réseau internet", "#"
            -# %li{ role:"menuitem" }
            -#   = link_to "Se rendre à Strasbourg", "#"
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
          %a{ tabindex:0 }= t("menu.participate")
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            -# %li{ role:"menuitem" }
            -#   = link_to "Boutique", "#"
            %li{ role:"menuitem" }
              = link_to t("menu.volunteering"), "/participate/volunteering"
            %li{ role:"menuitem" }
              = link_to t("menu.donate"), "/participate/donate"
            %li{ role:"menuitem" }
              = link_to t("menu.cfp"), "#"
        -# %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
        -#   %a{ tabindex:0 } Médias
        -#   %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
        -#     %li{ role:"menuitem" }
        -#       = link_to "Communiqués/Dossier de presse", "#"
        -#     %li{ role:"menuitem" }
        -#       = link_to "Communication graphique", "#"
        -#     %li{ role:"menuitem" }
        -#       = link_to "Live", "#"
        -#     %li{ role:"menuitem" }
        -#       = link_to "Vidéos", "#"
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
          %a{ tabindex:0 }= t("menu.about")
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            %li{ role:"menuitem" }
              = link_to t("menu.libre"), "/about/libre"
            %li{ role:"menuitem" }
              = link_to t("menu.history"), "/about/history"
            %li{ role:"menuitem" }
              = link_to t("menu.sponsors"), "/about/sponsors"
            %li{ role:"menuitem" }
              = link_to t("menu.organisers"), "/about/organisers"
            %li{ role:"menuitem" }
              = link_to t("menu.legal"), "/about/legal"
            %li{ role:"menuitem" }
              = link_to t("menu.conduct_code"), "/about/conduct_code"
            %li{ role:"menuitem" }
              = link_to t("menu.site_map"), "/about/site_map"

  %ul{ role:"menubar" }
    %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
      %a{ tabindex:0 }= t("menu.user")
      %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
        %li{ role:"menuitem" }
          = link_to t("menu.connection"), admin_path
        %li{ role:"menuitem" }
          = link_to t("menu.langue"), "#"
    %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
      %a{ tabindex:0 }= t("menu.network")
      %ul#last-menu.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
        -# %li{ role:"menuitem" }
        -#   = link_to "Blog", "#"
        -# %li{ role:"menuitem" }
        -#   = link_to "Radio RMLL", "#"
        %li{ role:"menuitem" }
          = link_to "Mastodon", "https://mamot.fr/@rmll2018"
        %li{ role:"menuitem" }
          = link_to "Liste de diffusion", "https://listes2018.rmll.info/subscribe/presse"
        %li{ role:"menuitem" }
          = link_to "IRC #rmll-2018", "https://webchat.freenode.net/"
