%nav.noselect{ role:"navigation", "aria-label":"Menu bar", "aria-hidden":"false" }
  %ul#left-menu{ role:"menubar" }
    %li{ role:"menuitem", "aria-label":"Home" }
      = link_to "↗", root_path
    %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
      %a#menu-button{ tabindex:0 } Menu
      %ul#main-menu.dropdown{ role:"menu", "aria-hidden":"true" }
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false"}
          %a{ tabindex:0 } Programme
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            %li{ role:"menuitem" }
              = link_to "Présentation", "/program/presentation"
            %li{ role:"menuitem" }
              = link_to "Calendrier", "/program/calendar"
            %li{ role:"menuitem" }
              = link_to "Soirée du Libre", "/program/night"
            %li{ role:"menuitem" }
              = link_to "Repas du Libre", "/program/meal"
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
          %a{ tabindex:0 } Village
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            %li{ role:"menuitem" }
              = link_to "Appel à stand", "/village/call"
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
          %a{ tabindex:0 } Info pratiques
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            %li{ role:"menuitem" }
              = link_to "Carte", "/info/map"
            %li{ role:"menuitem" }
              = link_to "Accès", "/info/access"
            %li{ role:"menuitem" }
              = link_to "Hébergement", "/info/lodging"
            %li{ role:"menuitem" }
              = link_to "Restauration", "/info/food"
            -# %li{ role:"menuitem" }
            -#   = link_to "Réservation Repas du Libre", "#"
            %li{ role:"menuitem" }
              = link_to "Tourisme", "/info/tourism"
            -# %li{ role:"menuitem" }
            -#   = link_to "Réseau internet", "#"
            -# %li{ role:"menuitem" }
            -#   = link_to "Se rendre à Strasbourg", "#"
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
          %a{ tabindex:0 } Participer
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            -# %li{ role:"menuitem" }
            -#   = link_to "Boutique", "#"
            %li{ role:"menuitem" }
              = link_to "Bénévolat", "#"
            %li{ role:"menuitem" }
              = link_to "Don", "/participate/donate"
            -# %li{ role:"menuitem" }
            -#   = link_to "Héberger", "#"
            -# %li{ role:"menuitem" }
            -#   = link_to "Financement participatif", "#"
            %li{ role:"menuitem" }
              = link_to "Appel à participation (terminé)", "#"
        -# %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
        -#   %a{ tabindex:0 } Médias
        -#   %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
        -#     %li{ role:"menuitem" }
        -#       = link_to "Communiqués/Dossier de presse", "#"
        -#     %li{ role:"menuitem" }
        -#       = link_to "Communication graphique", "#"
        -#     %li{ role:"menuitem" }
        -#       = link_to "Live", "#"
        -#     %li{ role:"menuitem" }
        -#       = link_to "Vidéos", "#"
        %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
          %a{ tabindex:0 } À propos
          %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
            %li{ role:"menuitem" }
              = link_to "Qu'est-ce que le Libre ?", "/about/libre"
            %li{ role:"menuitem" }
              = link_to "Historique", "/about/history"
            %li{ role:"menuitem" }
              = link_to "Partenaires", "/about/sponsors"
            %li{ role:"menuitem" }
              = link_to "Organisateurs", "/about/organisers"
            %li{ role:"menuitem" }
              = link_to "Mentions légales", "/about/legal"
            %li{ role:"menuitem" }
              = link_to "Plan du site", "/about/site_map"

  %ul{ role:"menubar" }
    %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
      %a{ tabindex:0 } User
      %ul.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
        %li{ role:"menuitem" }
          = link_to "Connection", admin_path
        %li{ role:"menuitem" }
          = link_to "Langue", "#"
        %li{ role:"menuitem" }
          = link_to "Outils", "#"
    %li{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false" }
      %a{ tabindex:0 } Notifications
      %ul#last-menu.dropdown.dropdown-menu{ role:"menu", "aria-hidden":"true" }
        %li{ role:"menuitem" }
          = link_to "Blog", "#"
        %li{ role:"menuitem" }
          = link_to "Radio RMLL", "#"
        %li{ role:"menuitem" }
          = link_to "Mastodon", "https://mamot.fr/@rmll2018"
        %li{ role:"menuitem" }
          = link_to "Liste de diffusion", "#"
        %li{ role:"menuitem" }
          = link_to "IRC", "https://webchat.freenode.net/"
        %li{ role:"menuitem" }
          = link_to "Matrix", "#"
