= content_for :script do
  = javascript_include_tag "rmll/program.js"

%main
  %section
    - add_bar("Calendar", "/program/calendar.odf")
    .container.spreadsheet
      %nav
        %ul.options
          %li Version liste
          %li
            Visualisation par :
            %ul
              %li= link_to "Jours"
              %li= link_to "Tracks"
              %li= link_to "Salles"
          %li
            Selecteurs :
            %ul
              %li
                Type
                %ul
                  %li
                    %input{ type:"checkbox", id:"all", name:"event-type", value:"all" }
                    %label{ for:"all" } Tous
                  %li
                    %input{ type:"checkbox", id:"conf", name:"event-type", value:"conf" }
                    %label{ for:"conf"} Conférences
                  %li
                    %input{ type:"checkbox", id:"workshop", name:"event-type", value:"workshop" }
                    %label{ for:"workshop" } Ateliers
                  %li
                    %input{ type:"checkbox", id:"discussion", name:"event-type", value:"discussion" }
                    %label{ for:"discussion" } Plénières
                  %li
                    %input{ type:"checkbox", id:"concert", name:"event-type", value:"concert" }
                    %label{ for:"concert" } Concerts
                  %li
                    %input{ type:"checkbox", id:"outside", name:"event-type", value:"outside" }
                    %label{ for:"outside" } Extérieur
              %li
                Niveau
                %ul
                  %li
                    %input{ type:"checkbox", id:"all", name:"event-lvl", value:"all" }
                    %label{ for:"all" } Tous
                  %li
                    %input{ type:"checkbox", id:"neo", name:"event-lvl", value:"neo" }
                    %label{ for:"neo"} Néophyte
                  %li
                    %input{ type:"checkbox", id:"expert", name:"event-lvl", value:"expert" }
                    %label{ for:"expert"} Connaisseur
              %li
                Langue
                %ul
                  %li
                    %input{ type:"checkbox", id:"all", name:"event-lang", value:"all" }
                    %label{ for:"all" } Tous
                  %li
                    %input{ type:"checkbox", id:"fr", name:"event-lang", value:"fr" }
                    %label{ for:"fr"} Français
                  %li
                    %input{ type:"checkbox", id:"en", name:"event-lang", value:"en" }
                    %label{ for:"en"} Anglais
        %ul.sheets
          %li
            %a{ "data-toggle":"saturday" }= t("common.saturday") + " 7"
          %li
            %a{ "data-toggle":"sunday" }= t("common.sunday") + " 8"
          %li
            %a{ "data-toggle":"monday" }= t("common.monday") + " 9"
          %li
            %a{ "data-toggle":"tuesday" }= t("common.tuesday") + " 10"
          %li
            %a{ "data-toggle":"wednesday" }= t("common.wednesday") + " 11"
      %article.overflow.dragscroll
        %table
          -# %caption= t(".title")
          %thead
            %tr
              %th{ scope:"col" } Track
              %th{ scope:"col" } Matin
              %th{ scope:"col" } Après-midi
              -# %th{ scope:"col" } Soirée
              -# %th{ scope:"col" } Nuit
