= content_for :script do
  = javascript_include_tag "rmll/program.js"

%main
  %section
    - add_bar("Calendar", "/program/calendar.odf")
    .container.spreadsheet
      %nav
        %ul.options
          %li Version accessible
          %li
            Types
            %ul
              %li
                %input{ type:"checkbox", id:"all", name:"event", value:"all" }
                %label{ for:"all" } Tous
              %li
                %input{ type:"checkbox", id:"conf", name:"event", value:"conf" }
                %label{ for:"conf"} Conférences
              %li
                %input{ type:"checkbox", id:"workshop", name:"event", value:"workshop" }
                %label{ for:"workshop" } Ateliers
              %li
                %input{ type:"checkbox", id:"discussion", name:"event", value:"discussion" }
                %label{ for:"discussion" } Plénières
              %li
                %input{ type:"checkbox", id:"concert", name:"event", value:"concert" }
                %label{ for:"concert" } Concerts
              %li
                %input{ type:"checkbox", id:"outside", name:"event", value:"outside" }
                %label{ for:"outside" } Extérieur
          %li Tracks
          %li Thèmes
          %li Public
          %li Langue
        %ul.sheets
          %li
            %a{ "data-toggle":"saturday" }= t("common.saturday") + " 7"
          %li
            %a{ "data-toggle":"sunday" }= t("common.sunday") + " 8"
          %li
            %a{ "data-toggle":"monday" }= t("common.monday") + " 9"
          %li
            %a{ "data-toggle":"tuesday" }= t("common.tuesday") + " 10"
          %li
            %a{ "data-toggle":"wednesday" }= t("common.wednesday") + " 11"
      %article
        %table
          -# %caption= t(".title")
          %thead
            %tr
              %th{ scope:"col" } Track
              %th{ scope:"col" } Matin
              %th{ scope:"col" } Après-midi
              -# %th{ scope:"col" } Soirée
              -# %th{ scope:"col" } Nuit
