
%section#vimLike
  .bar

  #window-content

    #treeView
      %h2= t(".edu_num.title")
      %br
      %h2= t(".tracks.title")
      %br
      %h2= t(".formats.title")
      %ul
        - t(".formats.list").each do |formatItem|
          %li
            %h4= formatItem[:title]
      %br
      %h2= t(".speakers.title")

    #content
      %p= t(".intro.program_date")
      %br
      %p= t(".intro.text")
      %ul
        = t(".intro.desc")
        - t(".intro.elems_desc").each do |elem|
          %li= elem
      %br
      %h2= t(".edu_num.title")
      %p.indent= t(".edu_num.text")
      %br
      %h2= t(".tracks.title")
      %p.indent= t(".tracks.text")
      %br
      %h2= t(".formats.title")
      %ul
        - t(".formats.list").each do |formatItem|
          %li
            %h4= formatItem[:title]
            %p
              - formatItem[:text].each do |text|
                %p= text
                %p= formatItem[:duration]
                %p= formatItem[:public]
      %br
      %h2= t(".speakers.title")
      %p.indent= t(".speakers.text")
      %p.indent= t(".speakers.desc")
      %ul
        - t(".speakers.desc_items").each do |speaker|
          %li.indent-more= link_to speaker[:name], speaker[:url]
      %br
      %h2= t(".night.title")
      %p.indent= t(".night.text")
      %br
      %h2= t(".meal.title")
      %p.indent= t(".meal.text")
