- cache [conference_id, call, event_types, tracks, '#splash#callforpapers'] do
  .col-md-5.col-sm-5.text-center
    %h2
      = t(".call_for_papers")
    %p.lead
      = t(".now_accepting_proposals")
    %p
      - if event_types.any?
        = t(".submit_proposals_for_event_types", :event_types => event_types_sentence(event_types))
      - if tracks.any?
        = t(".proposals_should_fit_tracks", :tracks => pluralize(tracks.length, "track") + ":" + tracks.to_sentence)
      = t(".submission_period_is_open", :dates => date_string(call.start_date, call.end_date))
      %b
        = t(".days_remaining", :count => pluralize(call.remaining_days, "day"))
    %p.cta-button
      = link_to t(".submit_proposal_button"),
        new_conference_program_proposal_path(conference_id),
        class: 'btn btn-success btn-lg text-center'
