- cache [conference_id, call, '#splash#callfortracks'] do
  .col-md-5.col-sm-5.text-center
    %h2
      = t(".call_for_tracks")
    %p.lead
      = t(".now_accepting_track_requests")
    %p
      = t(".you_interested_bro")
      = t(".submission_period", :dates => date_string(call.start_date, call.end_date))
      %b
        = t(".days_left", :count => call.remaining_days)
    %p.cta-button
      = link_to(t(".submit_request_for_track"),
        new_conference_program_track_path(conference_id),
        class: 'btn btn-success btn-lg text-center')
