= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#registration' }
      = t(".registration")

- cache [conference, registration_period, tickets, '#splash#registration'] do
  %section#registration
    .container
      .row
        .col-md-12.text-center
          %h1
            = t(".registration")
          - if conference.registration_limit_exceeded?
            %p
              = t(".registration_limit_exceeded")
          - elsif tickets.empty?
            %p.lead
              = t(".free_of_charge", :conference => conference.short_title)
            %p
              = t(".register_before", :end_date => date_string(registration_period.end_date))
              %p.cta-button
          - else
            %p
              = t(".registration_period_open", :dates => date_string(registration_period.start_date, registration_period.end_date))
          - if conference.registration_open?
            %p.cta-button
              = link_to(t(".register_now"),
                new_conference_conference_registration_path(conference_id),
                class: 'btn btn-lg btn-success')
