= render partial: "rmll/background"

%main.half
  %section
    - add_bar("Mail", t("rmll.participate.mail.cfb"))
    #mail.container.term.overflow
      %article
        %h1 Mailing box
        = render partial: "rmll/participate/mail_headings", locals: { mail: "cfb" }

        .content
          %ul
            %li Date: fri, 27 Apr 2018 14:27:22
            %li From: "rmll 2018 team" <contact [AT] listes2018.rmll.info>
            %li To: You
            %li
              Attachment:
              = link_to "call.jpg", rmll_path(:heading => "village", :page => "cfb")
            %li
              %h2= "Subject : " + t("rmll.participate.mail.cfb")

          - add_text(t(".text"))

          %p= link_to t(".link-text"), conference_booths_url(@conference.short_title, :locale => nil)
