%section.halfscreen.term.mail
  - add_bar("Mail", t("rmll.participate.mail.volunteering"))

  .tree
    %ul
      %h1 Mailing box
      %li
        MAY 22 - from: contact [AT] 2018.rmll.info
        = link_to t("rmll.participate.mail.donate"), rmll_path(:heading => "participate", :page => "donate")
      %li.selected
        MAY 22 - from: contact [AT] 2018.rmll.info
        = link_to t("rmll.participate.mail.volunteering"), rmll_path(:heading => "participate", :page => "volunteering")
      %li
        APR 27 - from: contact [AT] 2018.rmll.info
        = link_to t("rmll.participate.mail.cfb"), rmll_path(:heading => "participate", :page => "cfb")

  .content
    %ul.info
      %li Date: tue, 22 May 2018 10:22:12
      %li= "From: 'rmll 2018 team' <contact [AT] 2018.rmll.info>"
      %li To: You
      %li
        %h2= subject= "Subject : " + t("rmll.participate.mail.volunteering")

    %p= t(".text_html", href:link_to(t(".link-text"), t(".url")))
