= render partial: "rmll/background"

%main.half
  %section
    - add_bar("Mail", t("rmll.participate.mail.volunteering"))
    #mail.container.term.overflow
      %article
        %h1 Mailing box
        = render partial: "rmll/participate/mail_headings", locals: { mail: "volunteering" }

        .content
          %ul
            %li Date: tue, 22 May 2018 20:22:12
            %li= "From: 'rmll 2018 team' <contact [AT] listes2018.rmll.info>"
            %li To: You
            %li
              %h2= subject= "Subject : " + t("rmll.participate.mail.volunteering")

          - add_text(t(".text"))
          %p
            = t(".mailing.text")
            = link_to_blank t(".mailing.url"), t(".mailing.url")
          %p
            = t(".pad.text")
            = link_to_blank t(".pad.url"), t(".pad.url")
          - add_text(t(".end"))
