%main
  %section.window
    - add_bar("Viewer", "conduct-code.pdf")
    #conduct-code.container.pdf.overflow
      %article
        .headline{ "aria-hidden":"true" }
          .left
            %span RMLL
            %span.color 2018
          .right
            %span.color 2018
            %span RMLL

        %h2= t(".title").upcase

        .main-text
          %p= t(".text-keys.first-line")
          %p= t(".text-keys.second-line")
          %p= t(".text-keys.third-line")
        .columns
          .col-left
            %h3= t(".text-keys.fourth-words")
            %p= t(".text-keys.fourth-line")
            %h3= t(".text-keys.fifth-words")
            %p= t(".text-keys.fifth-line")
          .col-right
            %h3= t(".text-keys.sixth-words")
            %p= t(".text-keys.sixth-line")
            %p= t(".text-keys.seventh-line")
            %p= t(".text-keys.eighth-line")
