%section.term.halfscreen.over-background
  - add_bar("Terminal", "history")
  .content
    - term_ps1("user", "~/about", "ls -l history/previousEditions/")
    .result
      - t(".previousEditions").each do |edition|
        %p<
          = "drwxr-xr-x" + edition[:txt]
          %a.folder{ href:edition[:url], target:"_blank"}<
            = edition[:city]
    - term_ps1("user", "~/about", "cat history/infos.txt")

    %p
      = t(".moar.committee.text_html", href: link_to(t(".moar.committee.url-title"), t(".moar.committee.url")))
    %p
      = t(".moar.videos.text_html", href: link_to(t(".moar.videos.url-title"), t(".moar.videos.url")))

%section.fullscreen#home-section.no-select.no-overflow{ "aria-hidden":"true" }
  = render "rmll/background"
  = render "rmll/conky"
