= render partial: "rmll/background"

%main.flex.center
  %section.window.popup
    - add_popup_bar("Legal Notice")
    #legal
      %article
        %h1= t(".title")

        .box.overflow
          - t(".text").each_key do |title|
            %h3= t(".text.#{title}.title")
            - add_text(t(".text.#{title}.text"))

        = link_to "still too long; didn't read", rmll_path, { class:"button" }
