= render partial: "rmll/background"

%main.flex.center
  %section#legal.popup.invert
    - add_popup_bar("Legal Notice")
    %article.content
      %h1= t(".title")
      .sub-content
        - t(".text").each_key do |title|
          %h3= t(".text.#{title}.title")
          - add_text(t(".text.#{title}.text"))

      %button
        %span still too long; did'nt read
