%section#legal.over-background.popup
  .bar
    .effect

  .content
    %h1= t(".title")
    .sub-content
      - t(".text").each_key do |title|
        %h3= t(".text.#{title}.title")
        - add_text(t(".text.#{title}.text"))

    %button
      .effect
      %span too long; did'nt read


%section.fullscreen#home-section
  = render "rmll/background"
