= render partial: "rmll/background"

%main.half
  %section.window
    - add_bar("Terminal", "man")
    #man.container.term.overflow
      %article
        %h1= t(".title") + " - Manual"

        %h2= t(".intro.title").upcase
        - add_text(t(".intro.text"))

        %h2= t(".liberties.title").upcase
        %ul
          = t(".liberties.desc")
          - t(".liberties.desc_items").each do |elem|
            %li= elem.html_safe
        %br
        %p= t(".middle")

        %h2= t(".advantages.title").upcase
        %ul
          = t(".advantages.desc")
          - t(".advantages.desc_items").each do |elem|
            %li= elem
