%section#neofetch.term
  .bar
  .content
    - term_ps1("user", "~/about", "neofetch")
    -# %h1 Organisateurs
    .sub-content
      .ascii
        %p= "          `-:/++++/:.`          "
        %p= "      `/ohddddddddddddyo:`      "
        %p= "    -sdddddddddddddddddddho.    "
        %p= "  .sddhsssssssssssssssyhddddo`  "
        %p= " -hdds                 .yddddy. "
        %p= ".hddds`                 odddddy`"
        %p= "sdddddysssssso:         odddddd+"
        %p= "dddddddddddho.          oddddddy"
        %p= "dddddddddh+.     -s`    oddddddy"
        %p= "sddddddh+.     :sdd`    odddddd+"
        %p= ".ddddh/`     :ydddd`    odddddh`"
        %p= " :hy/`    `:ydddddd`    oddddh. "
        %p= "  .`    `/ydddddddds/:/+ddddo`  "
        %p= "      `/hdddddddddddddddddo.    "
        %p= "      `/shddddddddddddyo:`      "
        %p= "          .-/+++++/:-`          "
      %article
        %p<
          %span.color OS:
          RMLL-OS v18.0
        %p
          %span.color Host:
          Hackstub
        %p
          %span.color Kernel:
          Fédération alsace.netlib.re
        %p
          %span.color Uptime:
          6 month
        %p
          %span.color Packages:
          %ul
            %li Hackstub
            %li Alsace Réseau Neutre (ARN)
            %li Radio Rhino
            %li Seeraiwer
            %li l'AIUS
            %li Desclicks
            %li sxb.so
            %li Lilo
        -# %p
        -#   %span.color Shell:
        -# %p
        -#   %span.color Resolution:
        -# %p
        -#   %span.color WM:
        -# %p
        -#   %span.color Terminal:
        %p
          %span.color CPU:
          Harmonie, Jérémie, Tsanta, Manu
        %p
          %span.color Threads:
          Jean, Jules, Phillippine, Aleks
        %p
          %span.color GPU:
          Marjorie, Nicolas
        %p
          %span.color Memory:
          Sandhose, Irina, Legaume, Ljf, Jyhem, Janka, Marie-France, Claude, Garfield, Syme, Mhep
