= render partial: "rmll/background"

%main.half
  %section
    - add_bar("Terminal", "tree")
    #tree.container.term.overflow
      %article
        - term_ps1("user", "~/about", "tree site_map/")
        %ul
          Menu
          %li= link_to t("menu.home"), rmll_path
          %li= link_to t("menu.connection"), admin_path
          %li
            = t("menu.program")
            %ul
              %li= link_to t("menu.presentation"), rmll_path(:heading => "program", :page => "presentation")
              %li= link_to t("menu.calendar"), rmll_path(:heading => "program", :page => "calendar")
          %li
            = t("menu.village")
            %ul
              %li= link_to t("menu.cfb"), rmll_path(:heading => "village", :page => "cfb")
          %li
            = t("menu.info")
            %ul
              %li= link_to t("menu.map"), rmll_path(:heading => "info", :page => "map")
              %li= link_to t("menu.access"), rmll_path(:heading => "info", :page => "access")
              %li= link_to t("menu.lodging"), rmll_path(:heading => "info", :page => "lodging")
              %li= link_to t("menu.food"), rmll_path(:heading => "info", :page => "food")
              %li= link_to t("menu.tourism"), rmll_path(:heading => "info", :page => "tourism")
          %li
            = t("menu.participate")
            %ul
              %li= link_to t("menu.volunteering"), rmll_path(:heading => "participate", :page => "volunteering")
              %li= link_to t("menu.donate"), rmll_path(:heading => "participate", :page => "donate")
              %li= link_to t("menu.rmlloff"), rmll_path(:heading => "participate", :page => "rmlloff")
              %li= link_to t("menu.cfb"), rmll_path(:heading => "participate", :page => "cfb")
              %li= link_to t("menu.cfp"), rmll_path(:heading => "participate", :page => "cfp")
          %li
            = t("menu.about")
            %ul
              %li= link_to t("menu.libre"), rmll_path(:heading => "about", :page => "libre")
              %li= link_to t("menu.history"), rmll_path(:heading => "about", :page => "history")
              %li= link_to t("menu.sponsors"), rmll_path(:heading => "about", :page => "sponsors")
              %li= link_to t("menu.organisers"), rmll_path(:heading => "about", :page => "organisers")
              %li= link_to t("menu.legal"),  rmll_path(:heading => "about", :page => "legal")
              %li= link_to t("menu.conduct_code"),  rmll_path(:heading => "about", :page => "conduct_code")
              %li= link_to t("menu.site_map"),  rmll_path(:heading => "about", :page => "site_map")
          %li
            = t("menu.network")
            %ul
              %li= link_to_blank "Mastodon", "https://mamot.fr/@rmll2018"
              %li= link_to_blank "Liste de diffusion", "https://listes2018.rmll.info/subscribe/presse"
              %li= link_to_blank "IRC #rmll-2018", "https://webchat.freenode.net/"
