%main
  %section.window
    - add_bar("Internet", "www.sponsors.rmll")
    #sponsors.container-flex
      %header
        #alsace-netlibre
          = link_to image_tag("logos-site/logokindof-alsacenetlibre.png", alt:"Logo alsace.netlib.re"), t(".list")[0][:url]
        #universite
          = link_to image_tag("logos-site/logo-universiteStrasbourg.png", alt:"Logo Université de Strasbourg"), t(".list")[3][:url]
        #fsfe
          = link_to image_tag("logos-site/logo-fsfe-color.png", alt:"Logo fsfe"), t(".list")[1][:url]
      %section
        %aside.left
          #stiftung
            = link_to image_tag("logos-site/logo-StiftungErneuerbareFreiheit.png", alt:"Logo Stiftung Erneuerbare Freiheit"), t(".list")[9][:url]
          #april
            = link_to image_tag("logos-site/logo-april.png", alt:"Logo April"), t(".list")[7][:url]
          #codeLutin
            = link_to image_tag("logos-site/logo-codeLutin.png", alt:"Logo Code Lutin"), t(".list")[8][:url]
          #oisux
            = link_to image_tag("logos-site/logo-oisux.png", alt:"Logo Oisux"), t(".list")[10][:url]
        %section
          #strasbourg
            - add_bar("Internet", "www.strasbourg.eu")
            = link_to image_tag("logos-site/Strasbourg.eu_EuroMetropole.JPG", alt:"Logo Ville et Eurométropole de Strasbourg"), t(".list")[2][:url]
            %p.blink= "Vous avez gagné 25 000 euros !"
        %aside.right
          #framasoft
            = link_to image_tag("logos-site/logo-framasoft.png", alt:"Logo Framasoft"), t(".list")[12][:url]
          #lilo
            = link_to t(".list")[11][:name], "#"
          #perl
            = link_to image_tag("logos-site/logo-mongueursDePerl.png", alt:"Logo Les Mongueurs de Perl"), t(".list")[13][:url]
      %footer
        #shadok
          = link_to image_tag("logos-site/logo-shadok.png", alt:"Logo Shadok"), t(".list")[4][:url]
        #mediatheque
          = link_to image_tag("logos-site/logo-mediatheques.png", alt:"Logo Médiathèque André Malraux"), t(".list")[5][:url]
        #lappli
          = link_to image_tag("logos-site/logo-LAPPLI.png", alt:"Logo l@ppli"), t(".list")[6][:url]
