= content_for :head do
  = stylesheet_link_tag "rmll/specific/list"
= content_for :script do
  - langIndex = ["en", "fr"].index("#{I18n.locale}")
  = javascript_include_tag "rmll/program.js"
  :javascript
    var lang = parseInt("#{ langIndex }");
    window.onload = function () {
      initMenuBar();
      var options = new Menubar(document.getElementById("selectors"));
      options.init();
      readJSONFile(baseUrl, formatJson, buildList, setupList);
    }

%main
  %section.window
    - add_bar("Slides", "/program/calendar-list.odp")
    .container.list
      %nav
        %ul.options#selectors{ role:"menubar", "aria-label":"Options d'affichage" }
          %li{ role:"none" }
            = link_to t("menu.table"), rmll_path(:heading => "program", :page => "calendar", :sub => "table"), { role:"menuitem", tabindex:0, class:"not-item", "aria-label":"Afficher sous forme de tableur" }
          %li{ role:"none" }
            %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1, "aria-label":"Selectionner par type" }
              = t("types.name")
            %ul{ role:"menu" }
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"type-all" }
                  = t("types.all")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"type-conference" }
                  = t("types.conferences")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"type-workshop" }
                  = t("types.workshops")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"type-other" }
                  = t("types.others")
          %li{ role:"none" }
            %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
              = t("lvls.name")
            %ul{ role:"menu", "aria-label":"Selectionner par niveau" }
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"level-all" }
                  = t("lvls.all")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"level-easy" }
                  = t("lvls.easy")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"level-medium" }
                  = t("lvls.medium")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"level-hard" }
                  = t("lvls.hard")
          -# %li{ role:"none" }
          -#   %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
          -#     = t("languages.name")
          -#   %ul{ role:"menu", "aria-label":"Selectionner par langue" }
          -#     %li{ role:"none" }
          -#       %a{ role:"menuitem", tabindex:-1, id:"lang-all" }
          -#         = t("languages.all")
          -#     %li{ role:"none" }
          -#       %a{ role:"menuitem", tabindex:-1, id:"lang-fr" }
          -#         = t("languages.fr")
          -#     %li{ role:"none" }
          -#       %a{ role:"menuitem", tabindex:-1, id:"lang-en" }
          -#         = t("languages.en")
      .container-flex.overflow
        - days = ["saturday", "sunday", "monday", "tuesday", "wednesday"]
        - hk = t("calendar.hackerspace")

        %nav.days
          %h2= t("common.days")
          %ul{ role:"menubar", "aria-label":"Menu de selection du jour" }
            %li{ role:"none" }
              %a{ role:"menuitem", href:"#saturday" }
                = t("common.saturday_html") + " 7"
            %li{ role:"none" }
              %a.not-item{ role:"menuitem", href:"#sunday" }
                = t("common.sunday_html") + " 8"
            %li{ role:"none" }
              %a.not-item{ role:"menuitem", href:"#monday" }
                = t("common.monday_html") + " 9"
            %li{ role:"none" }
              %a.not-item{ role:"menuitem", href:"#tuesday" }
                = t("common.tuesday_html") + " 10"
            %li{ role:"none" }
              %a.not-item{ role:"menuitem", href:"#wednesday" }
                = t("common.wednesday_html") + " 11"

        %section.days.hide
          %h2= t("common.events")
          - villageBase = t("calendar.village")
          - (0..4).each do |i|
            - data = t("calendar.days")[i]
            %section.day{ "data-day":"#{days[i]}" }
              %section{ id:"#{days[i]}"  }
                %article.pres
                  %h3= t("common.#{days[i]}") + " #{i + 7}"
                  %nav.day-nav
                    %ul.left
                      %h4= t("common.special-events")
                      %li= link_to data[:plenary][:title], "##{days[i]}-plenary"
                      - unless data[:nights].nil?
                        - data[:nights].each_with_index do |night, index|
                          %li= link_to data[:nights][index][:title], "##{days[i]}-night#{index}"
                      %li= link_to villageBase[:title], "##{days[i]}-village"
                      %li= link_to hk[:title], "##{days[i]}-hackerspace"

              %section.starred
                - plenary = data[:plenary]
                %article.event{ "data-type":"plenary", id:"#{days[i]}-plenary" }
                  %h5= plenary[:title]
                  .content
                    %p= plenary[:speakers]
                    .abstract
                      = plenary[:abstract_html]
                  %dl.infos
                    %div
                      %dt= t("common.hour")
                      %dd
                        %time= "18:00"
                        = t("common.to")
                        %time= "19:30"
                    %div
                      %dt= t("types.name")
                      %dd= t("common.plenary")
                    %div
                      %dt= t("common.building")
                      %dd ATRIUM - AT8
                    %div
                      %dt= t("common.day")
                      %dd= t("common.#{days[i]}")


                - unless data[:nights].nil?
                  - data[:nights].each_with_index do |night, index|
                    %article.event{ "data-type":"night", id:"#{days[i]}-night#{index}" }
                      %h5= night[:title]
                      .content
                        %p= night[:speakers]
                        .abstract
                          = night[:abstract_html].html_safe
                      %dl.infos
                        %div
                          %dt= t("common.hour")
                          %dd
                            %time= night[:start].gsub('h', ':')
                            = t("common.to")
                            %time= night[:end].gsub('h', ':')
                        %div
                          %dt= t("types.name")
                          %dd= t("common.night")
                        %div
                          %dt= t("common.building")
                          %dd= night[:place]
                        %div
                          %dt= t("common.day")
                          %dd= t("common.#{days[i]}")

                %article.event{ "data-type":"hackerspace", id:"#{days[i]}-hackerspace" }
                  %h5= hk[:title]
                  .content
                    .abstract
                      = hk[:abstract_html].html_safe
                  %dl.infos
                    %div
                      %dt= t("common.hour")
                      %dd
                        %time= data[:hackerspace].nil? ? hk[:start] : data[:hackerspace][:start]
                        = t("common.to")
                        %time= data[:hackerspace].nil? ? hk[:end] : data[:hackerspace][:end]
                    %div
                      %dt= t("types.name")
                      %dd Hackerspace
                    %div
                      %dt= t("common.building")
                      %dd= hk[:place]
                    %div
                      %dt= t("common.day")
                      %dd= t("common.#{days[i]}")

                %article.event{ "data-type":"village", id:"#{days[i]}-village" }
                  - village = data[:village]
                  - if village.nil?
                    - village = villageBase
                  %h5= village[:title]
                  .content
                    .abstract
                      = village[:abstract_html].html_safe
                  %dl.infos
                    %div
                      %dt= t("common.hour")
                      %dd
                        %time= village[:start].gsub('h', ':')
                        = t("common.to")
                        %time= village[:end].gsub('h', ':')
                    %div
                      %dt= t("types.name")
                      %dd= village[:title]
                    %div
                      %dt= t("common.building")
                      %dd= village[:place]
                    %div
                      %dt= t("common.day")
                      %dd= t("common.#{days[i]}")

              %section.agenda
