= content_for :head do
  = stylesheet_link_tag "rmll/specific/_spreadsheet"
= content_for :script do
  = javascript_include_tag "rmll/program.js"

%main
  %section.window
    - add_bar("Calendar", "/program/calendar.odf")
    .container.spreadsheet
      %nav
        %ul.options
          %li Version liste
          %li
            Visualisation par :
            %ul
              %li= link_to "Jours"
              %li= link_to "Tracks"
              %li= link_to "Salles"
          %li
            Selecteurs :
            %ul
              %li
                Type
                %ul
                  %li
                    %input{ type:"checkbox", id:"all", name:"event-type", value:"all" }
                    %label{ for:"all" } Tous
                  %li
                    %input{ type:"checkbox", id:"conf", name:"event-type", value:"conf" }
                    %label{ for:"conf"} Conférences
                  %li
                    %input{ type:"checkbox", id:"workshop", name:"event-type", value:"workshop" }
                    %label{ for:"workshop" } Ateliers
                  %li
                    %input{ type:"checkbox", id:"discussion", name:"event-type", value:"discussion" }
                    %label{ for:"discussion" } Plénières
                  %li
                    %input{ type:"checkbox", id:"concert", name:"event-type", value:"concert" }
                    %label{ for:"concert" } Concerts
                  %li
                    %input{ type:"checkbox", id:"outside", name:"event-type", value:"outside" }
                    %label{ for:"outside" } Extérieur
              %li
                Niveau
                %ul
                  %li
                    %input{ type:"checkbox", id:"all", name:"event-lvl", value:"all" }
                    %label{ for:"all" } Tous
                  %li
                    %input{ type:"checkbox", id:"neo", name:"event-lvl", value:"neo" }
                    %label{ for:"neo"} Néophyte
                  %li
                    %input{ type:"checkbox", id:"expert", name:"event-lvl", value:"expert" }
                    %label{ for:"expert"} Connaisseur
              %li
                Langue
                %ul
                  %li
                    %input{ type:"checkbox", id:"all", name:"event-lang", value:"all" }
                    %label{ for:"all" } Tous
                  %li
                    %input{ type:"checkbox", id:"fr", name:"event-lang", value:"fr" }
                    %label{ for:"fr"} Français
                  %li
                    %input{ type:"checkbox", id:"en", name:"event-lang", value:"en" }
                    %label{ for:"en"} Anglais
        %ul.sheets
          %li
            %a{ "data-toggle":"saturday" }= t("common.saturday") + " 7"
          %li
            %a{ "data-toggle":"sunday" }= t("common.sunday") + " 8"
          %li
            %a{ "data-toggle":"monday" }= t("common.monday") + " 9"
          %li
            %a{ "data-toggle":"tuesday" }= t("common.tuesday") + " 10"
          %li
            %a{ "data-toggle":"wednesday" }= t("common.wednesday") + " 11"
      %article.overflow.dragscroll
        %section.starred
          - days = ["saturday", "sunday", "monday", "tuesday", "wednesday"]
          - hk = t("calendar.hackerspace")
          - villageBase = t("calendar.village")
          - (0..4).each do |i|
            - data = t("calendar.days")[i]
            - plenary = data[:plenary]
            .starred-day{ days[i] == "saturday" ? { "data-day": "#{days[i]}" } : { class:"hide", "data-day": "#{days[i]}" } }
              .info-black
                %p= t("common.#{days[i]}") + " #{i + 7}"
              .row-top
                %article.event{ "data-type":"plenary" }
                  %aside.top
                    %mark 18h00
                    %mark 19h30
                  .content
                    %h2= plenary[:title]
                    %p= plenary[:speakers]
                    .abstract
                      = plenary[:abstract_html]
                  %aside.bottom
                    %span ATRIUM - AT8
                - unless data[:nights].nil?
                  - data[:nights].each do |night|
                    %article.event{ "data-type":"night" }
                      %aside.top
                        %mark= night[:start]
                        %mark= night[:end]
                      .content
                        %h2= night[:title]
                        %p= night[:speakers]
                        .abstract
                          - add_text(night[:abstract_html])
                      %aside.bottom
                        %span= night[:place]
              .row-bottom
                %article.event{ "data-type":"hackerspace" }
                  %aside.top
                    %mark 11h00
                    %mark 2h00
                  .content
                    %h2= hk[:title]
                    .abstract
                      = hk[:abstract_html]
                  %aside.bottom
                    %span= hk[:place]
                %article.event{ "data-type":"village" }
                  - village = data[:village]
                  - if village.nil?
                    - village = villageBase
                  %aside.top
                    %mark= village[:start]
                    %mark= village[:end]
                  .content
                    %h2= village[:title]
                    .abstract
                      = village[:abstract_html]
                  %aside.bottom
                    %span= village[:place]
        %section.agenda.overflow.dragscroll
          %table
            %caption Événements sur toute la journée de 10h à 18h
            %thead
              %tr.info-black
                %th{ scope:"col" } Tracks
                %th{ scope:"col" }= t("common.events")
      #bg-card
