= content_for :head do
  = stylesheet_link_tag "rmll/specific/_spreadsheet"
= content_for :script do
  - langIndex = ["en", "fr"].index("#{I18n.locale}")
  = javascript_include_tag "rmll/program.js"
  :javascript
    var lang = parseInt("#{ langIndex }");
    window.onload = function () {
      initMenuBar();
      var options = new Menubar(document.getElementById("selectors"));
      options.init();
      var daySelection = new Menubar(document.getElementById("daySelection"));
      daySelection.init();
      readJSONFile(baseUrl, formatJson, buildTable, setupTable);
    }


%main
  %section.window
    - add_bar("Calendar", "/program/calendar.odf")
    .container.spreadsheet
      %nav
        %ul.options#selectors{ role:"menubar", "aria-label":"Options d'affichage" }
          %li{ role:"none" }
            = link_to t("menu.list"), rmll_path(:heading => "program", :page => "calendar", :sub => "list"), { role:"menuitem", tabindex:0, class:"not-item" }
          %li{ role:"none" }
            %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
              = t("types.name")
            %ul{ role:"menu", "aria-label":"Selectionner par type" }
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"type-all" }
                  = t("types.all")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"type-conference" }
                  = t("types.conferences")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"type-workshop" }
                  = t("types.workshops")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"type-other" }
                  = t("types.others")
          %li{ role:"none" }
            %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
              = t("lvls.name")
            %ul{ role:"menu", "aria-label":"Selectionner par niveau" }
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"level-all" }
                  = t("lvls.all")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"level-easy" }
                  = t("lvls.easy")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"level-medium" }
                  = t("lvls.medium")
              %li{ role:"none" }
                %a{ role:"menuitem", tabindex:-1, id:"level-hard" }
                  = t("lvls.hard")
          -# %li{ role:"none" }
          -#   %a{ role:"menuitem", "aria-haspopup":"true", "aria-expanded":"false", tabindex:-1 }
          -#     = t("languages.name")
          -#   %ul{ role:"menu", "aria-label":"Selectionner par langue" }
          -#     %li{ role:"none" }
          -#       %a{ role:"menuitem", tabindex:-1, id:"lang-all" }
          -#         = t("languages.all")
          -#     %li{ role:"none" }
          -#       %a{ role:"menuitem", tabindex:-1, id:"lang-fr" }
          -#         = t("languages.fr")
          -#     %li{ role:"none" }
          -#       %a{ role:"menuitem", tabindex:-1, id:"lang-en" }
          -#         = t("languages.en")
        %ul#daySelection{ role:"menubar", "aria-label":"Menu de selection du jour" }
          %li{ role:"none" }
            %a.not-item{ "data-toggle":"saturday", role:"menuitem", tabindex:0, href:"#" }
              = t("common.saturday_html") + " 7"
          %li{ role:"none" }
            %a.not-item{ "data-toggle":"sunday", role:"menuitem", tabindex:-1, href:"#" }
              = t("common.sunday_html") + " 8"
          %li{ role:"none" }
            %a.not-item{ "data-toggle":"monday", role:"menuitem", tabindex:-1, href:"#" }
              = t("common.monday_html") + " 9"
          %li{ role:"none" }
            %a.not-item{ "data-toggle":"tuesday", role:"menuitem", tabindex:-1, href:"#" }
              = t("common.tuesday_html") + " 10"
          %li{ role:"none" }
            %a.not-item{ "data-toggle":"wednesday", role:"menuitem", tabindex:-1, href:"#" }
              = t("common.wednesday_html") + " 11"
      %article.overflow.dragscroll
        %section.starred
          - days = ["saturday", "sunday", "monday", "tuesday", "wednesday"]
          - hk = t("calendar.hackerspace")
          - villageBase = t("calendar.village")
          - (0..4).each do |i|
            - data = t("calendar.days")[i]
            - plenary = data[:plenary]
            .starred-day.hide{ "data-day": "#{days[i]}" }
              -# .info-black
              -#   %p= t("common.#{days[i]}") + " #{i + 7}"
              .row-top
                %article.event{ "data-type":"plenary" }
                  %aside.top
                    %mark= t("calendar.plenary_general.start")
                    %mark= t("calendar.plenary_general.end")
                  .content
                    %h2= plenary[:title]
                    %p= plenary[:speakers]
                    .abstract
                      = plenary[:abstract_html]
                  %aside.bottom
                    %span ATRIUM - AT8
                - unless data[:nights].nil?
                  - data[:nights].each do |night|
                    %article.event{ "data-type":"night" }
                      %aside.top
                        %mark= night[:start]
                        %mark= night[:end]
                      .content
                        %h2= night[:title]
                        %p= night[:speakers]
                        .abstract
                          = night[:abstract_html].html_safe
                      %aside.bottom
                        %span= night[:place]
              .row-bottom
                %article.event{ "data-type":"hackerspace" }
                  %aside.top
                    %mark= data[:hackerspace].nil? ? hk[:start] : data[:hackerspace][:start]
                    %mark= data[:hackerspace].nil? ? hk[:end] : data[:hackerspace][:end]
                  .content
                    %h2= hk[:title]
                    .abstract
                      = hk[:abstract_html]
                  %aside.bottom
                    %span= hk[:place]
                %article.event{ "data-type":"village" }
                  - village = data[:village]
                  - if village.nil?
                    - village = villageBase
                  %aside.top
                    %mark= village[:start]
                    %mark= village[:end]
                  .content
                    %h2= village[:title]
                    .abstract
                      = village[:abstract_html]
                  %aside.bottom
                    %span= village[:place]
        %section.agenda
          %table
            %caption Événements sur toute la journée
            %thead
              %tr.info-black
                %th{ scope:"col" } Tracks
                %th{ scope:"col" }= t("common.events")
      #bg-card
