!!! 5
%html{ lang: I18n.locale, dir: "ltr" }
  %head
    %meta{ charset:"utf-8" }
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1" }
    %title= content_for?(:title) ? yield(:title) : "RMLL 2018 - Rencontres Mondiales du Logiciel Libre"
    -# TODO add favicon
    -# TODO add canonical links
    %meta{ name:"description", content:"Les Rencontres Mondiales du Logiciel Libre 2018, à Strasbourg du 7 au 12 juillet, un festival transdisciplinaire ouvert à toutes et à tous." }
    %meta{ name:"keywords", content:"rmll, 2018, rencontres, logiciel, libre, software, meeting, strasbourg, education, numérique, captivité, émancipation, liberation, festival" }
    -# TODO add og:stuff
    = stylesheet_link_tag "rmll/stylesheet"
    = yield :head
    -# = csrf_meta_tags
  %body
    = render 'rmll/menu'

    %main
      = yield

    = javascript_include_tag "rmll/lib/menu"
    = javascript_include_tag "rmll/script"
    = yield :script
    -# = piwik_tracking_tag
